# WEB SCRAPING – ASSIGNMENT 4

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos 

You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [21]:
#Importing Neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import requests

In [22]:
#Opening the Given page on chrome browser
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [45]:
#B)Name
name=[]
try:
    name_tag=driver.find_elements(By.XPATH,'//table[@ class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
    for i in name_tag:
        name.append(i.text)
except NoSuchElementException:
    name.append("-")

In [46]:
#c)Artist
artist=[]
try:
    artist_tag=driver.find_elements(By.XPATH,'//table[@ class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
    for i in artist_tag:
        artist.append(i.text)
except NoSuchElementException:
    artist.append("-")

In [44]:
#A)Rank
rank=[]
for i in range(1,31):
    rank.append(i)

In [47]:
#c)upload_date
upload_date=[]
try:
    upload_tag=driver.find_elements(By.XPATH,'//table[@ class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
    for i in upload_tag:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append("-")

In [48]:
#c)views
views=[]
try:
    views_tag=driver.find_elements(By.XPATH,'//table[@ class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
    for i in views_tag:
        views.append(i.text)
except NoSuchElementException:
    views.append("-")

In [49]:
df=pd.DataFrame(
    {
    "RANK":rank,
    "NAME":name,
    "ARTIST":artist,
    "UPLOAD DATE":upload_date,
    "VIEWS":views
})

In [50]:
df

,RANK,NAME,ARTIST,UPLOAD DATE,VIEWS
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,2,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.41
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,5,"""Shape of You""[20]",Ed Sheeran,"January 30, 2017",6.23
5,6,"""See You Again""[23]",Wiz Khalifa,"April 6, 2015",6.22
6,7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,9,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.18
9,10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.10
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.09
11,12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.59
12,13,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.57
13,14,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.45
14,15,"""Sugar""[40]",Maroon 5,"January 14, 2015",4.02
15,16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,17,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",4.00
17,18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.98
18,19,"""Roar""[44]",Katy Perry,"September 5, 2013",3.98
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.89
20,21,"""Sorry""[46]",Justin Bieber,"October 22, 2015",3.78
21,22,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,"May 10, 2011",3.77
22,23,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,24,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.75
24,25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.70
25,26,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.70
26,27,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.64
27,28,"""Faded""[53]",Alan Walker,"December 3, 2015",3.60
28,29,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.58
29,30,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.57

2)Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
    A) Series B) Place C) DateD) Time Note: 
- From bcci.tv home page you have reach to the international fixture page through code.

In [1]:
#Importing Neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import requests

In [2]:
#Opening the Given page on chrome browser
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")

In [3]:
# click on fixtures
fixtures= driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
fixtures.click()

In [4]:
#scraping A)Seriesname
series_name=[]
series_ntag=driver.find_elements(By.XPATH,'//h5[@ class="match-tournament-name ng-binding"]')
for i in series_ntag:
    series_name.append(i.text)

In [5]:
#Scraping B)Date
date=[]
date_tag=driver.find_elements(By.XPATH,'//div[@ class="match-dates ng-binding"]')
for i in date_tag:
    date.append(i.text)

In [6]:
#Scraping C)Time
time=[]
time_tag=driver.find_elements(By.XPATH,'//div[@ class="match-time no-margin ng-binding"]')
for i in time_tag:
    time.append(i.text)

In [7]:
#scraping D)place
place=[]
place_tag=driver.find_elements(By.XPATH,'//span [@class="ng-binding ng-scope"]')
for i in place_tag:
    place.append(i.text)

In [8]:
#checking the length
len(place),len(time),len(date),len(series_name)

(9, 9, 9, 9)

In [9]:
#creating dataframe
df=pd.DataFrame({
    "SERIES NAME":series_name,
    "PLACE":place,
    "DATE":date,
    "TIME":time
    
})

In [10]:
#displaying dataframe
df

,SERIES NAME,PLACE,DATE,TIME
0,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,","6 MAY, 2024",3:30 PM IST
1,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,","9 MAY, 2024",3:30 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","5 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","9 JUNE, 2024",8:00 PM IST
4,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","12 JUNE, 2024",8:00 PM IST
5,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","10 JULY, 2024",8:00 PM IST

4)Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used Note: - From the home page you have to click on the trending option from Explore menu through code.

In [11]:
#Importing Neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import requests
from selenium.common.exceptions import NoSuchElementException

In [12]:
#Opening the Given page on chrome browser
driver=webdriver.Chrome()
driver.get("https://github.com/")

In [14]:
#Reaching the explore menu
more_but=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span')
more_but.click()

In [15]:
#further more on open source
open_src=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_src.click()

In [16]:
#clicking on trending
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [22]:
#Extracting the url
url=[]
url_tag=driver.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']//a")
for i in url_tag:
    url.append(i.get_attribute('href'))

In [23]:
#A)Repository title
title=[]
title_tag=driver.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']")
for i in title_tag:
    title.append(i.text)

In [24]:
desc=[]
contr=[]
lang1=[]
lang=[]
for i in url:
    driver.get(i)
    time.sleep(5)
    try:
        desc_tag = driver.find_element(By.XPATH,'//p[@ class="f4 mb-3 "]')
        desc.append(desc_tag.text)
    except NoSuchElementException:
        desc.append('-')
        
    try:
        contr_tag = driver.find_element(By.XPATH,'//a[@ class="Link--inTextBlock Link"]')
        contr.append(contr_tag.text.replace("+"," "))
    except NoSuchElementException:
        contr.append('-')
    
    try:
        for i in driver.find_elements(By.XPATH,"//ul[@class= 'list-style-none']//li//span[1]"):
            lang.append(i.text)
        lang1.append(lang)
    except NoSuchElementException:
        lang1.append('-')

In [25]:
len(title),len(desc),len(contr),len(url),len(lang1)

(25, 25, 25, 25, 25)

In [26]:
#Creating dataframe
df=pd.DataFrame({
    "TITLE":title,
    "DESCRIPTION":desc,
    "CONTRIBUTORS":contr,
    "LANGUAGE":lang1
})

In [27]:
#displaying the dataframe
df

,TITLE,DESCRIPTION,CONTRIBUTORS,LANGUAGE
0,KindXiaoming / pykan,Kolmogorov Arnold Networks,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
1,xM4ddy / OFGB,GUI Tool To Removes Ads From Various Places Ar...,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
2,rasbt / LLMs-from-scratch,"Implementing a ChatGPT-like LLM from scratch, ...",-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
3,IvanGlinkin / CCTV,Close-Circuit Telegram Vision revolutionizes l...,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
4,karpathy / llm.c,"LLM training in simple, raw C/CUDA",24 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
5,Blealtan / efficient-kan,An efficient pure-PyTorch implementation of Ko...,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
6,lmstudio-ai / lms,LM Studio in your terminal,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
7,solana-labs / solana,"Web-Scale Blockchain for fast, secure, scalabl...",477 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
8,fastfetch-cli / fastfetch,"Like neofetch, but much faster because written...",71 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
9,pydantic / logfire,Uncomplicated Observability for Python and bey...,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
10,Stirling-Tools / Stirling-PDF,#1 Locally hosted web application that allows ...,92 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
11,wandb / openui,OpenUI let's you describe UI using your imagin...,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
12,reorproject / reor,Private & offline AI personal knowledge manage...,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
13,systemdesign42 / system-design,A resource to help you learn system design.,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
14,HVision-NKU / StoryDiffusion,Create Magic Story!,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
15,mlc-ai / web-llm,Bringing large-language models and chat to web...,16 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
16,huggingface / candle,Minimalist ML framework for Rust,95 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
17,MaaAssistantArknights / MaaAssistantArknights,《明日方舟》小助手，全日常一键长草！| A one-click tool for the d...,198 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
18,adrianhajdin / banking,Horizon is a modern banking platform for every...,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
19,Profluent-AI / OpenCRISPR,AI-generated gene editing systems,-,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
20,langgenius / dify,Dify is an open-source LLM app development pla...,160 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
21,cpacker / MemGPT,Create LLM agents with long-term memory and cu...,59 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
22,Universidade-Livre / ciencia-da-computacao,🎓 Um caminho para a educação autodidata em Ciê...,6 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
23,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,102 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."
24,tokio-rs / axum,Ergonomic and modular web framework built with...,278 contributors,"[Jupyter Notebook, Python, C#, Jupyter Noteboo..."

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [28]:
#Importing Neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import requests
from selenium.common.exceptions import NoSuchElementException

In [29]:
#Opening the Given page on chrome browser:
driver=webdriver.Chrome()
driver.get("https:/www.billboard.com/")

In [30]:
#Selecting charts section:
charts=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button").click()

In [31]:
#selecting trending:
trending=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a").click()

In [32]:
#Selecting view more charts:
view_chart=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a").click()

In [33]:
#Scraping A) song name:
name=[]
name_tag=driver.find_elements(By.XPATH,'//li[@ class="lrv-u-width-100p"]/ul/li/h3')
for i in name_tag:
    name.append(i.text)

In [34]:
#Scrapping D) peak_pos:
peak_pos=[]
peak_tag=driver.find_elements(By.XPATH,'//li[@ class="lrv-u-width-100p u-hidden@tablet"]/ul/li[4]')
for i in peak_tag:
    peak_pos.append(i.text)

In [35]:
#Scraping B) artist
artist=["Taylor Swift"]
artist_tag=driver.find_elements(By.XPATH,'//span[@ class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist_tag:
    artist.append(i.text)

In [36]:
#Scrapping c)last week
last_week=[]
last_wtag=driver.find_elements(By.XPATH,'//li[@ class="lrv-u-width-100p u-hidden@tablet"]/ul/li[3]')
for i in last_wtag:
    last_week.append(i.text)

In [37]:
#Scrapping E) weeks on board note:
weeks=[]
weak_tag=driver.find_elements(By.XPATH,'//ul [@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-row u-background-color-grey-lightest@mobile-max"]//li[5]')
for i in weak_tag:
    weeks.append(i.text)

In [38]:
#checking the length
len(last_week),len(artist),len(name),len(peak_pos),len(weeks)

(100, 100, 100, 100, 100)

In [39]:
#creating dataframe
df=pd.DataFrame({
    "SONG NAME":name,
    "ARTIST":artist,
    "PEAK POS":peak_pos,
    "LAST WEEK":last_week,
    "WEEKS ON BOARD NOTE":weeks
})

In [40]:
#displaying dataframe
df

,SONG NAME,ARTIST,PEAK POS,LAST WEEK,WEEKS ON BOARD NOTE
0,Fortnight,Taylor Swift,1,-,1
1,Down Bad,Taylor Swift,2,-,1
2,I Can Do It With A Broken Heart,Taylor Swift,3,-,1
3,The Tortured Poets Department,Taylor Swift,4,-,1
4,"So Long, London",Taylor Swift,5,-,1
...,...,...,...,...,...
95,Us Vs. Them,$uicideBoy$,96,-,1
96,Wine Into Whiskey,Tucker Wetmore,77,84,5
97,Spin You Around (1/24),Morgan Wallen,24,89,13
98,Soak City,310babii,53,82,19
99,Selfish,Justin Timberlake,19,60,13

6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [41]:
#Importing Neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import requests
from selenium.common.exceptions import NoSuchElementException

In [42]:
#Opening the Given page on chrome browser
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [43]:
#Scraping A)Name
name=[]
name_tag=driver.find_elements(By.XPATH,'//table[@ class="in-article sortable"]/tbody/tr/td[2]')
for i in name_tag:
    name.append(i.text)

In [44]:
#Scraping B)Author
author=[]
author_tag=driver.find_elements(By.XPATH,'//table[@ class="in-article sortable"]/tbody/tr/td[3]')
for i in author_tag:
    author.append(i.text)

In [45]:
#Scraping C)Volume Sold
volume_sold=[]
volume_tag=driver.find_elements(By.XPATH,'//table[@ class="in-article sortable"]/tbody/tr/td[4]')
for i in volume_tag:
    volume_sold.append(i.text)

In [46]:
#Scraping D)Publisher
publisher=[]
publ_tag=driver.find_elements(By.XPATH,'//table[@ class="in-article sortable"]/tbody/tr/td[5]')
for i in publ_tag:
    publisher.append(i.text)

In [47]:
#Scraping E)Genre
genre=[]
genre_tag=driver.find_elements(By.XPATH,'//table[@ class="in-article sortable"]/tbody/tr/td[5]')
for i in genre_tag:
    genre.append(i.text)

In [48]:
#Checking the length
len(name),len(genre),len(publisher),len(volume_sold),len(author)

(100, 100, 100, 100, 100)

In [49]:
#Creating Dataframe
df=pd.DataFrame({
    "NAME":name,
    "AUTHOR":author,
    "VOLUME SOLD":volume_sold,
    "PUBLISHER":publisher,
    "GENRE":genre,
})

In [50]:
#displaying dataframe
df

,NAME,AUTHOR,VOLUME SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Random House
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Penguin

 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [51]:
#Importing Neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [52]:
#opening the given page in chrom browser
driver=webdriver.Chrome()
url = "https://www.imdb.com/list/ls512407256/"
driver.get(url)

In [53]:
#A)Scraping - name
name=[]
name_tag=driver.find_elements(By.XPATH,'//h3[@ class="lister-item-header"]//a')
for i in name_tag:
    name.append(i.text)

In [54]:
#B)Scraping- year
year=[]
yer_tag=driver.find_elements(By.XPATH,'//h3[@ class="lister-item-header"]//span[2]')
for i in yer_tag:
    year.append(i.text)

In [55]:
#c)Scraping-genre
genre=[]
genre_tag=driver.find_elements(By.XPATH,'//span[@ class="genre"]')
for i in genre_tag:
    genre.append(i.text)

In [56]:
#d)Scrapping -Run time
run=[]
run_ttag=driver.find_elements(By.XPATH,'//span[@ class="runtime"]')
for i in run_ttag:
    run.append(i.text)

In [57]:
#e)Scraping -rating
rating=[]
rating_tag=driver.find_elements(By.XPATH,'//div[@ class="ipl-rating-star small"]//span[2]')
for i in rating_tag:
    rating.append(i.text)

In [58]:
#f)Scraping - votes
votes=[]
votes_tag=driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]")
for i in votes_tag:
    votes.append(i.text)

In [59]:
#creating dataframe
df=pd.DataFrame({
    "NAME":name,
    "GENRE":genre,
    "RUN TIME":run,
    "RATING":rating,
    "VOTES":votes
})

In [60]:
#displaying the dataframe
df

                    NAME                     GENRE RUN TIME RATING      VOTES
0        Game of Thrones  Action, Adventure, Drama   60 min    9.2  2,287,315
1        Stranger Things    Drama, Fantasy, Horror   60 min    8.7  1,338,190
2       The Walking Dead   Drama, Horror, Thriller   45 min    8.1  1,083,225
3         13 Reasons Why  Drama, Mystery, Thriller   60 min    7.5    315,747
4                The 100    Drama, Mystery, Sci-Fi   43 min    7.6    276,505
..                   ...                       ...      ...    ...        ...
95        True Detective     Crime, Drama, Mystery   60 min    8.9    657,246
96             Teen Wolf    Action, Drama, Fantasy   41 min    7.7    163,379
97                The OA   Drama, Fantasy, Mystery   60 min    7.8    115,976
98          The Simpsons         Animation, Comedy   22 min    8.7    436,277
99  Desperate Housewives    Comedy, Drama, Mystery   45 min    7.6    139,875

[100 rows x 5 columns]

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [1]:
#Importing Neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import requests
from selenium.common.exceptions import NoSuchElementException

In [2]:
#Opening the Given page on chrome browser
driver=webdriver.Chrome()
driver.get("http://statisticstimes.com/")

In [3]:
#clicking the economy button
economy_but=driver.find_element(By.XPATH,'//div[@ class="dropdown"][2]')
economy_but.click()

In [4]:
#selecting india
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [6]:
#selecting gdp of india
gdp_indiastates=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_indiastates.click()

In [7]:
#A)Rank
rank=[]
try:
    rank_tag=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]")
    for i in rank_tag:
        rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [8]:
#A)state
state=[]
try:
    state_tag=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]")
    for i in state_tag:
        state.append(i.text)
except NoSuchElementException:
    state.append("_")

In [9]:
#A)GSDP- at current prices 
gsdp1=[]
try:
    gsdp1_tag=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]")
    for i in gsdp1_tag:
        gsdp1.append(i.text)
except NoSuchElementException:
    gsdp1.append("_")

In [10]:
#E)Share 
share=[]
try:
    share_tag=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]")
    for i in share_tag:
        share.append(i.text)
except  NoSuchElementException:
    share.append("_")

In [12]:
#E)Share 
billion=[]
try:
    billion_tag=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[7]")
    for i in billion_tag:
        billion.append(i.text)
except  NoSuchElementException:
    billiob.append("_")

In [13]:
len(state),len(rank),len(gsdp1),len(share),len(billion)

(66, 66, 66, 66, 66)

In [14]:
df=pd.DataFrame({
    "RANK":rank,
    "STATE":state,
    "GSDP":gsdp1,
    "SHARE":share,
    "GDP $ BILLION":billion
})

In [15]:
df

   RANK                      STATE       GSDP   SHARE GDP $ BILLION
0     1                Maharashtra          -  13.17%       414.928
1     2                 Tamil Nadu  2,700,109   8.78%       276.522
2     3                  Karnataka  2,500,733   8.38%       264.080
3     4              Uttar Pradesh  2,547,861   8.37%       263.747
4     5                    Gujarat          -   8.17%       257.484
..  ...                        ...        ...     ...           ...
61   29                     Sikkim          -   0.15%             -
62   30          Arunachal Pradesh          -   0.15%             -
63   31                   Nagaland          -   0.13%             -
64   32                    Mizoram          -   0.12%             -
65   33  Andaman & Nicobar Islands          -   0.04%             -

[66 rows x 5 columns]

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [1]:
#Importing Neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import requests
from selenium.common.exceptions import NoSuchElementException

In [2]:
#Opening the page on chrome browser
driver=webdriver.Chrome()
driver.get(" https://archive.ics.uci.edu/")

In [3]:
view_dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]').click()

In [4]:
#Extracting product url
dataset_url = []
urls = driver.find_elements(By.XPATH,'//a[@ class="link-hover link text-xl font-semibold"]')
for url in urls:
    dataset_url.append(url.get_attribute('href'))

In [5]:
#A)Dataset name
dataset_name=[]
name_tag=driver.find_elements(By.XPATH,'//h2 [@class="truncate text-primary" ]')
for i in name_tag:
    dataset_name.append(i.text)

In [6]:
len(urls),len(dataset_name)

(10, 10)

In [7]:
#Creating dataframe
df=pd.DataFrame({
    "DATASET NAME":dataset_name
})

In [8]:
#displaying dataframe
df

                           DATASET NAME
0                                  Iris
1                         Heart Disease
2                              Dry Bean
3            Rice (Cammeo and Osmancik)
4                                 Adult
5  Breast Cancer Wisconsin (Diagnostic)
6                                Raisin
7                                  Wine
8                          Wine Quality
9                              Diabetes