# WEB-SCRAPING_2_Evaluation

Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap thementioned data and make the dataframe

In [45]:
#Importing Neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [46]:
#Opening the Given page on chrome browser
driver=webdriver.Chrome()
driver.get("https://www.motor1.com/")

In [49]:
#Code for search bar
search=driver.find_element(By.XPATH,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input")
search.send_keys("50 most expensive cars")

In [50]:
#Enterining into page
clickkk=driver.find_element(By.XPATH,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
clickkk.click()

In [55]:
further=driver.find_element(By.XPATH,"/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div")
further.click()

In [56]:
#scraping the car name
car_name_tag=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
car_name=[]
car_name_tag=car_name_tag[:50]
for i in car_name_tag:
    name=i.text
    car_name.append(name)
len(car_name)

50

In [57]:
#scraping the price
price=[]
price_tag=driver.find_elements(By.XPATH,"//strong[normalize-space()]")
for i in price_tag:
    a=i.text
    price.append(a)

In [52]:
#checking the length of the columns
len(car_name),len(price)

(50, 50)

In [53]:
#creating a dataframe
df=pd.DataFrame({
    "CAR NAME":car_name,
    "Price":price
})

In [54]:
df

                              CAR NAME                        Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)

Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1 scrap the mentioned data and make the DataFrame

In [58]:
#Importing Neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [59]:
#Opening the Given page on chrome browser
driver=webdriver.Chrome()
driver.get("https://www.jagranjosh.com/general-knowledge/list-of%02all-prime-ministers-of-india-1473165149-1")

In [60]:
#Extracting information from the table with help of xpath and tagname
data = []
table1 = driver.find_element(By.XPATH,'//div[@class="TableData"]')
rows = table1.find_elements(By.TAG_NAME,'tr')
rows

[<selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3a4e1078bf24db99b15349df7f18c739", element="f.FD450E510A35EEA035ED6D7265181B81.d.3AB41E663D115A1AC62EB00F827B67A7.e.36")>]

In [61]:
#extracting information from each column and  appending the information to the corresponding named empty list
names=[]
born_deads=[]
terms_of_office=[]
remarks=[]
for row in rows:
    cols = row.find_elements(By.TAG_NAME,'td')
    if len(cols) == 5:
        name= cols[1].text
        names.append(name)
        born_dead= cols[2].text
        born_deads.append(born_dead)
        term= cols[3].text
        terms_of_office.append(term)
        remark=cols[4].text
        remarks.append(remark)

In [62]:
#creating the dataframe
df=pd.DataFrame({
    "NAME":names,
    "BORN DEAD":born_deads,
    "TERM OF OFFICE":terms_of_office,
    "REMARKS":remarks
    
})

In [63]:
df

,NAME,BORN DEAD,TERM OF OFFICE,REMARKS
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time. The above task will be done in following steps:

First get the webpagehttps://www.azquotes.com/
Click on TopQuote
Than scrap a)Quote b) Author c) Type Of Quotes

In [64]:
#Importing Necessary Libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [65]:
#opening the given page on chrom browser
driver=webdriver.Chrome()
driver.get("https://www.azquotes.com/")

In [66]:
#Entering into the Top Quotes section
top_quotes_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes_button.click()

In [67]:
#Title tag
quotes= driver.find_elements(By.XPATH,'//a[@class="title"]')
quotes

[<selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.184")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.185")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.186")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.187")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.188")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.189")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.190")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.191")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.192")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.194")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.195")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.196")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.197")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.198")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.199")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.200")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.201")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.202")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.203")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.204")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.206")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.207")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.208")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.209")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.210")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.211")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.212")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.213")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.214")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.215")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.218")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.220")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.222")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.223")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.224")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.225")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.227")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.228")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.229")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.230")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.231")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.232")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.233")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.234")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.235")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.236")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.237")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.239")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.240")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.241")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.242")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.243")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.245")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.246")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.247")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.248")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.249")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.250")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.251")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.252")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.253")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.254")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.255")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.256")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.257")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.258")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.259")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.260")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.261")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.262")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.263")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.264")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.265")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.266")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.267")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.268")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.269")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.270")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.271")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.272")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.273")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.274")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.275")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.276")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.277")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.278")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.279")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.280")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.281")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.282")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08b22a94da88b90f97d453d4509f4585", element="f.32C7007212493D8C65483E55D6B42441.d.2B1C8BECCF76BD5CA16C99152DDCCEEB.e.283")>]

In [68]:
#Extracting the information - Title
a=[]
for j in quotes:
    i=j.text
    a.append(i)

In [69]:
#Extracting the information -Author
author_name=[]
author_tag=driver.find_elements(By.XPATH,'//div[@ class="author"]')
for i in author_tag:
    author_name.append(i.text)

In [70]:
#Extracting the information -type of Quote
type_quote=[]
type_tag=driver.find_elements(By.XPATH,'//div [@class="tags"]')
for i in type_tag:
    type_quote.append(i.text)

In [71]:
#creating the dataframe
df=pd.DataFrame({
    "TOP 100 QUOTES":a,
    "Author Name":author_name,
    "TYPE OF QUOTE":type_quote
})

In [72]:
#Displaying the dataframe
df

,TOP 100 QUOTES,Author Name,TYPE OF QUOTE
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

first get the web page https://www.naukri.com/
Enter “Data Scientist” in “Skill, Designations, and Companies” field.
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data

In [73]:
#importing neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time

In [74]:
#opening the naukari page on chrome browser
driver=webdriver.Chrome()
driver.get("https://www.naukri.com/")

In [75]:
#Entering designation as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [76]:
#Entering location as required in the question
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Delhi/NCR")

In [77]:
#Clicking search button 
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [78]:
#Applying Salary filter as required in the question
salary_filter=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
salary_filter.click()

In [79]:
#Extracting Job Location
job_location=[]
job_ltag=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
job_ltag=job_ltag[:10]
for i in job_ltag:
    b=i.text
    job_location.append(b)

In [80]:
#Extracting the Experience Required
exp_req=[]
exp_tag=driver.find_elements(By.XPATH,'//span[@ class="expwdth"]')
exp_tag=exp_tag[:10]
for i in exp_tag:
    d=i.text
    exp_req.append(d)

In [81]:
#Extracting the job name
job_name=[]
job_ntag=driver.find_elements(By.XPATH,"//a[@class='title ']")
job_ntag=job_ntag[:10]
for i in job_ntag:
    c=i.text
    if c=='':
        c="Data Scientist"
    job_name.append(c)

In [82]:
#Extracting company name
company_name=[]
company_ntag=driver.find_elements(By.XPATH,'//a [@class=" comp-name mw-25"]')
company_ntag=company_ntag[:10]
for i in company_ntag:
    c=i.text
    company_name.append(c)

In [83]:
#checking the length of the column
len(job_name),len(exp_req),len(company_name),len(job_location)

(10, 10, 10, 10)

In [84]:
#Creating DataFrame using Pandas
df=pd.DataFrame({
    "JOB NAME":job_name,
    "COMPANY NAME":company_name,
    "JOB LOCATION":job_location,
    "EXPERIENCE REQUIRED":exp_req
})

In [85]:
#For displaying the dataframe
df

,JOB NAME,COMPANY NAME,JOB LOCATION,EXPERIENCE REQUIRED
0,Data Scientist,Scienaptic Systems,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",3-7 Yrs
1,Data Scientist,Blackbuck,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",2-7 Yrs
2,Data Scientist,Wizaltia Hr Solutions,"Gurugram, Bengaluru",3-7 Yrs
3,Data Scientist,Kmart,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",2-7 Yrs
4,Data Scientist,KAS Services,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",1-2 Yrs
5,Data Scientist,Neal Analytics,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",1-2 Yrs
6,Data Scientist,Fort Technologies,"Mumbai, Pune, Chennai, Gurugram, Bengaluru",3-7 Yrs
7,Data Scientist,ZS Associates,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",3-7 Yrs
8,Python Data Scientist,Times Internet,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",1-3 Yrs
9,Associate Data Scientist,The Scholar,"Gurugram, Bengaluru",2-7 Yrs

Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search field. You have to scrape 3 attributes of each sneaker:

Brand
ProductDescription
Price As shown in the below image, you have to scrape the above attributes.

In [86]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [87]:
#opening the flipkart page on the chrome browser
driver=webdriver.Chrome()
driver.get('https://www.flipkart.com/')

In [88]:
#Enterining Sneaker in the search column
pop_close = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
pop_close.send_keys("sneakers")

In [89]:
#Clicking search button
search_item = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search_item.click()

In [91]:
#Extracting the branch name 
brand_ntag=driver.find_elements(By.XPATH,'//div[@ class="_2WkVRV"]')

In [92]:
brand_name=[]
start=0
end=25
for i in range(start,end):
    brand_ntag=driver.find_elements(By.XPATH,'//div[@ class="_2WkVRV"]')
    for i in brand_ntag:
        a=i.text
        brand_name.append(a)
    next_b=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_b.click()
    time.sleep(5)

In [93]:
len(brand_name)

1000

In [94]:
#Extracting the product Description
product_Desc=[]
start=0
end=35
for i in range(start,end):
    prod_dtag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod_dtag:
        b=i.text
        product_Desc.append(b)
    next_b=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_b.click()
    time.sleep(5)
product_Desc=product_Desc[:1000]

In [95]:
#Extracting the prize information
prize=[]
start=0
end=25
for i in range(start,end):
    price_tag=driver.find_elements(By.XPATH,'//div[@ class="_30jeq3"] ')
    for i in price_tag:
        b=i.text
        prize.append(b)
    next_b=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_b.click()
    time.sleep(5)

In [98]:
#creating the dataframe
df=pd.DataFrame({
    "Name":brand_name,
    "Prize":prize,
    "Product Description":product_Desc
})

In [99]:
#displaying the dataframe
df

,Name,Prize,Product Description
0,MEGPAR,"₹1,199",Zod Runner V3 Sneakers For Men
1,RED TAPE,₹809,NEO MOTORSPORT Sneakers For Men
2,URBANBOX,"₹1,249",BMW MMS IONICspeed Sneakers For Men
3,Deals4you,"₹4,495",530 Sneakers For Men
4,RapidBox,"₹3,489",997 Sneakers For Men
...,...,...,...
995,New Balance,"₹6,599",327 Sneakers For Men
996,ADIDAS,"₹3,359",Ultralightweight Premium Comfort Trendy Outdoo...
997,CAMPUS,"₹2,047",Club C 85 Sneakers For Men
998,ADIDAS,"₹3,439",Club Sneakers For Men
999,HRX by Hrithik Roshan,"₹1,099",Unisex Sky Medal S Sneakers For Men

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART As shown in the above page you have to scrape the tick marked attributes. These are:

Rating Review summary Full review You have to scrape this data for first 100review

In [100]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [101]:
#Opening the given page through chrome browser
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [119]:
#function for full review
def full_review_fn():
    full_review=[]
    driver.refresh()
    rev_tag=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div")
    time.sleep(3)
    for i in rev_tag:
        try:
            full_review.append(i.text.replace("\n","  New Line: "))
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            full_review.append("--")
    return full_review

In [120]:
#function for review summary
def review_summary_fn():
    review_sum=[]
    driver.refresh()
    sum_tag=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    time.sleep(3)
    for i in sum_tag:
        try:
            review_sum.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            review_sum.append("--")
    return review_sum

In [121]:
#function for rating
def rating_fn():
    rating=[]
    driver.refresh()
    rating_tag=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    time.sleep(3)
    for i in rating_tag:
        try:
            rating.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            rating.append("--")
    return rating

In [123]:
#scraping the information from the function
rating=[]
review_sum=[]
full_review=[]
length=len(rating)
while(length<=100):
    driver.refresh()
    rating.extend(rating_fn())
    review_sum.extend(review_summary_fn())
    full_review.extend(full_review_fn())
    time.sleep(5)
    length=len(rating)
    next_btn=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']/span")
    next_btn.click()

In [124]:
len(full_review),len(rating),len(review_sum)

(120, 110, 120)

In [128]:
#creating the dataframe and adding the column
import pandas as pd
df=pd.DataFrame()
df["RATING"]=rating[:100]
df["REVIEW_SUMMARY"]=review_sum[:100]
df["FULL_REVIEW"]=full_review[:100]

In [127]:
#displaying the dataframe
df

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Perfect product!,Photos super
1,5,Worth every penny,Feeling awesome after getting the delivery of ...
2,5,Best in the market!,Good Camera
3,5,Wonderful,This is amazing at all
4,5,Terrific purchase,Value for money 😍
...,...,...,...
95,5,Excellent,NYC
96,5,Fabulous!,It’s very good battery life and display and vi...
97,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...
98,5,Brilliant,Excellent Phone.
99,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the 
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [129]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [137]:
#Entering intp given page through chrome browser
driver=webdriver.Chrome()
driver.get("https://www.shine.com/")

In [140]:
#Entering Data analyst in the jobtitle
search_job = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
search_job.send_keys("Data Analyst")

In [141]:
#Entering the mentioned location
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [144]:
#clicking the search button
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [145]:
#scraping the title name
title_tag = driver.find_elements(By.XPATH,'//strong[@ class="jobCard_pReplaceH2__xWmHg"]')

title_tag=title_tag[0:10]
job_title=[]
for i in title_tag:
    job_title.append(i.text)
job_title

['Data Analyst Recruitment',
 'Data Analyst Recruitment',
 'Data Analyst (Power BI, Python, SQL)- Internal Audit do ...',
 'Data Analyst',
 'Clinical Data Analyst',
 'Data Analyst',
 'Data Governance Analyst',
 'Data Analyst',
 'Data Engineer Ii',
 'Hiring For Data Analyst']

In [146]:
#scraping the job location
job_location=[]
location_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
location_tag=location_tag[0:10]
for j in location_tag:
    job_location.append(j.text)
job_location

['Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore',
 'Bangalore\n+12',
 'Bangalore\n+6',
 'Bangalore\n+9',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+9',
 'Bangalore\n+12']

In [147]:
#scraping the company name
company_name=[]
company_tag=driver.find_elements(By.XPATH,'//div[ @ class="jobCard_jobCard_cName__mYnow" ]')
company_tag=company_tag[0:10]
for k in company_tag:
    company_name.append(k.text)
company_name

['radhika enterprises',
 'radhika enterprises',
 'talent leads hr solutions pvt ltd',
 'millennium babycares private limite...',
 'techno endura',
 'sahast sales corporation',
 'white horse manpower consultancy (p...',
 'sahast sales corporation',
 'v-tech data outsourcing',
 'radhika enterprises']

In [148]:
#scraping the Experience
experience_req=[]
experience_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
experience_tag=experience_tag[0:10]
for l in experience_tag:
    experience_req.append(l.text)
experience_req

['0 to 4 Yrs',
 '0 to 4 Yrs',
 '3 to 8 Yrs',
 '9 to 14 Yrs',
 '0 to 1 Yr',
 '12 to 22 Yrs',
 '5 to 8 Yrs',
 '12 to 22 Yrs',
 '0 to 1 Yr',
 '0 to 4 Yrs']

In [149]:
#creating the dataframe
df=pd.DataFrame({
    "Job Title" : job_title,
    "Company Name":company_name,
    "Experience Required":experience_req,
    
})

In [150]:
#displaying the dataframe
df

,Job Title,Company Name,Experience Required
0,Data Analyst Recruitment,radhika enterprises,0 to 4 Yrs
1,Data Analyst Recruitment,radhika enterprises,0 to 4 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Data Analyst,millennium babycares private limite...,9 to 14 Yrs
4,Clinical Data Analyst,techno endura,0 to 1 Yr
5,Data Analyst,sahast sales corporation,12 to 22 Yrs
6,Data Governance Analyst,white horse manpower consultancy (p...,5 to 8 Yrs
7,Data Analyst,sahast sales corporation,12 to 22 Yrs
8,Data Engineer Ii,v-tech data outsourcing,0 to 1 Yr
9,Hiring For Data Analyst,radhika enterprises,0 to 4 Yrs

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image
Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [10]:
#Enterning into given page through chrome browser
driver=webdriver.Chrome()
driver.get("https://www.amazon.in/")

In [11]:
#Enterining laptop in the search bar
search_bar=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_bar.send_keys("Laptop")

In [12]:
#clicking search icon
search_icon=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_icon.click()

In [13]:
#Applying cpu filter 
cpu_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[7]/div[19]/div/ul/span[9]/li/span/a/span")
cpu_filter.click()

In [14]:
#Scraping the title
title=[]
title_tag=driver.find_elements(By.XPATH,'//span[@ class="a-size-medium a-color-base a-text-normal"]')
title_tag=title_tag[:10]
for i in title_tag:
    a=i.text
    title.append(a)

In [15]:
#Scraping the price
price=[]
price_tag=driver.find_elements(By.XPATH,'//span[ @class="a-price-whole"]')
price_tag=price_tag[:10]
for i in price_tag:
    b=i.text
    price.append(b)

In [16]:
#Creating the Dataframe
df=pd.DataFrame({
    "TITLE":title,
    "PRICE":price
})

In [17]:
# Displaying the dataframe
df

                                               TITLE   PRICE
0  HP Laptop 15s, 12th Gen Intel Core i3, 15.6-in...  37,290
1  ASUS Vivobook 15, Intel Core i3-1220P 12th Gen...  38,990
2  Dell 14 Laptop, 12th Gen Intel Core i3-1215U P...  34,990
3  Acer Aspire Lite 12th Gen Intel Core i3-1215U ...  31,990
4  ASUS Vivobook 14, Intel Core i3-1115G4 11th Ge...  31,490
5  HP Laptop 14s, 12th Gen Intel Core i3-1215U, 1...  37,490
6  Dell 14 Laptop, 13th Gen Intel Core i3-1305U P...  38,990
7  ASUS Vivobook 14, IntelCore i3-1215U 12th Gen,...  35,990
8  Acer Extensa 15 Intel Core i3 N305 8 core Proc...  32,870
9  Dell Inspiron 7430 2in1 Touch Laptop, 13th Gen...  55,990

END OF THE WORKSHEET